\.Rproj\.user/6854A187/console06/
\.Rproj\.user/shared/notebooks/A14B87EA-comparison/1/s/lib/rstudio_leaflet-1\.3\.1/images/
\.Rproj\.user/shared/notebooks/A14B87EA-comparison/1/s/lib/Proj4Leaflet-1\.0\.1/
\.Rhistory
\.Rproj\.user/6854A187/
\.Rproj\.user/shared/notebooks/4EC44B6A-education/1/s/
\.Rproj\.user/shared/notebooks/A14B87EA-comparison/1/6854A187F6A950C3/
\.Rproj\.user/
.httr-oauth
data-raw/qop/home_loan/
.Rproj.user
.Renviron
