\.Rproj\.user/6854A187/console06/
\.Rproj\.user/shared/notebooks/A14B87EA-comparison/1/s/lib/rstudio_leaflet-1\.3\.1/images/
\.Rproj\.user/shared/notebooks/A14B87EA-comparison/1/s/lib/Proj4Leaflet-1\.0\.1/
\.Rhistory
\.Rproj\.user/6854A187/
\.Rproj\.user/shared/notebooks/4EC44B6A-education/1/s/
\.Rproj\.user/shared/notebooks/A14B87EA-comparison/1/6854A187F6A950C3/
\.Rproj\.user/
.httr-oauth

data-raw/qop/home_loan/

data-raw/health/driving_fatalities/FARS/
.Rproj.user

data-raw/qop/crime/

data-raw/qop/vibrancy_index/

data-raw/qop/MPI/B15001/

data-raw/qop/MPI/B27001/

data-raw/qop/MPI/C17002/

data-raw/qop/MPI/S23001/

data-raw/qop/migration/single_year/

data-raw/qop/HPI/

data-raw/qop/food_security/

data-raw/microdata/acs_weights/

data-raw/microdata/brfss/

data-raw/microdata/codebooks/

data-raw/microdata/brfss_codebooks/

data-raw/microdata/Migration/

data-raw/health/brfss/brfss_msa_1yr.feather

data-raw/health/exercize_opportunities/USA_Parks.lpk

data-raw/health/hospital_beds/

data-raw/health/mental_health_providers/

data-raw/microdata/acs_repwts/

*.feather

data-raw/microdata/acs_micro.csv

data-raw/microdata/acs_micro_old.csv

data-raw/microdata/cps_micro.csv

junk/
